/* Paul Irish Box Model */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, 
body {
    height: 100%;
    width: 100%;
    font-family: 'Pacifico', cursive;
    
}

.logo-text {
    margin-left: 25px;
    text-align: center;
}

figcaption {
    text-align: center;
}

.picture-frame {
    width: 100%;
    /* display: inline-block; */
    /* height: 180px;
    overflow: hidden; */
    /* border: 2px solid blue; */
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-frame img {
    width: 100%;
    /* width:  250px;
    height: 250px; */
}

.car-playground {
    /* border: 5px solid gold; */
    display: flex;
    flex-direction: column;
    /* height: 300px; */
    min-height: 300px;

    /* how to line up on main (X) axis */
    justify-content: flex-start;

    /* how to line up on cross (Y) axis */
    align-items: center;

    /* Causes the images to wrap past the line and go to the next row */
    /* flex-wrap: wrap; */

    /* overflow: hidden; */
}

/* media query - similar to an if-statement but for CSS */
@media screen and (min-width: 700px) {
    /* body {
        background: skyblue;
    } */
    .picture-frame {
        width: 33%;
        /* margin-top: 10px;
        margin-bottom: 20px; */
        margin: 20px 0;
    }
    .car-playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    /* body {
        background: palegreen;
    } */
    .logo-text {
        font-size: 40px;
    }
}